nav .ibm-grid-container{
    border-bottom: 1px solid #ccc; 
}
.logo a{
    font-weight: 600;
    color: #333;
}

.cart{font-weight:600;}

.cart-number-circle{
    position:absolute;
    height: 25px;
    width: 25px;
    background-color: #0062ff;
    border-radius: 50%;
    color:#fff !important;
    text-align: center;
    margin-top: -12px;
    margin-left: -5px;
    padding-top:1px; 
}